<link rel="import" href="components/geomuxp/orov-mjpeg.html">
<link rel="import" href="components/video/orov-video.html">

<style>
</style>

<div>
  <h4>{{__('Mjpeg Commands')}}</h4>
</div>

<div>
  <orov-mjpeg event-emitter="{{cockpitEventEmitter}}"></orov-mjpeg>
</div>
