
  <link rel="import" href="components/paper-material/paper-material.html">
  <link rel="import" href="components/paper-button/paper-button.html">
<style>
    paper-button {

    }
    paper-material{
        margin-bottom:10px;
        background-color:white;
    }
    .back-surface {
        background-color:#f9f2f2;
    }
</style>
<div class="back-surface">
<paper-material  elevation="1">
<fieldset>
<legend>Support:</legend>    
<paper-button raised id="dumpReport" on-tap="_dumpReport">Dump System Report</paper-button>
</fieldset>
</paper-material>
<script>
var template = $('#t')[0];
template._dumpReport = function(){
    template.cockpitEventEmitter.emit("plugin.about.downloadSystemInformation");
}
</script>
</div>

