<style>
    .camera {
        width: 100%; 
        height: 100%; 
        position:relative;
    }

    body {
        margin:0px;
        width:100%;
        height:100%;
    }
</style>

<orov-video id="camera1" class="camera" border='0' location='forward' event-emitter="{{cockpitEventEmitter}}">
    <!-- You can place other controls inside the video control -->
    <p style="position:absolute;top:0px;left:0px;">HEY GILL I AM HERE</p>
</orov-video>