<link rel="import" href="components/polymer/polymer.html">

<link rel="import" href="components/new-ui/time.html">
<link rel="import" href="components/new-ui/compass.html">
<link rel="import" href="components/new-ui/depth.html">
<link rel="import" href="components/new-ui/throttle.html">
<link rel="import" href="components/new-ui/switches.html">
<link rel="import" href="components/new-ui/power.html">
<link rel="import" href="components/diagnostics/diagnostics.html">
<link rel="import" href="components/video/orov-video.html">
<link rel="import" href="components/navigation-data/orov-horizon.html">
<link rel="import" href="components/connection-health/orov-ping-graph.html">

<link rel="import" href="components/settings-manager/orov-settings-manager.html">

<!--script type='text/javascript' src="js/no-scroll-fullscreen-viewport.js"></script-->

  <div id="UI" class="full-height">
        <div id="newuiBody" class="full-height">
          <div id="newuiContainer">
          </div>
          <div id="mainContent" class="full-height">

            <div id="newuiVideo" class="full-height">
              <orov-video id="camera1" border='1' style='width: 100%; height:100%; position:relative' location='forward' event-emitter="{{cockpitEventEmitter}}">
                <orov-ping-graph style='position:absolute; top:0px; left:0px; z-index:33;' event-emitter="{{cockpitEventEmitter}}"></orov-ping-graph>

                <orov-horizon id="horizon" style='position:absolute; top:0px; left:0px; z-index:33; width:100%; height:100%' event-emitter="{{cockpitEventEmitter}}"></orov-horizon>
              </orov-video>
            </div>
            <div id="newuiControlpad">
              <div class="newui-item" id="heading-item">
                <div class="center">
                  <h4>{{__('Heading')}}</h4>
                  <div id="newui-compass" class="center control">
                    <orov-newui-compass class="center" heading="0" event-emitter="{{cockpitEventEmitter}}"></orov-newui-compass>
                  </div>
                </div>
              </div>
              <div class="newui-item" id="depth-item">
                <div class="center">
                  <h4>{{__('Depth')}}</h4>
                  <!--<div id="newui-depth" class="center control"></div>-->
                  <orov-newui-depth id="newui-depth" class="center control" event-emitter="{{cockpitEventEmitter}}"></orov-newui-depth>
                </div>
              </div>
              <div class="newui-item" id="throttle-item">
                <div class="center">
                  <h4>{{__('Throttle')}}</h4>
                  <orov-newui-throttle id="newui-throttle" class="center control" event-emitter="{{cockpitEventEmitter}}"></orov-newui-throttle>
                </div>
              </div>
              <div class="newui-item" id="power-item">
                <div class="center">
                  <h4>{{__('Battery')}}</h4>
                  <div id="newui-power" class="center control">
                    <orov-newui-power id="power" event-emitter="{{cockpitEventEmitter}}"></orov-newui-power>
                  </div>
                </div>
              </div>
              <div class="newui-item" id="switches-item">
                <div class="center">
                  <h4>{{__('Switches')}}</h4>
                  <div id="newui-switches" class="center control">
                    <orov-newui-switches id="newui-switches" class="center" event-emitter="{{cockpitEventEmitter}}"></orov-newui-switches>
                  </div>
                </div>
              </div>
              <div class="newui-item" id="time-item">
                <div class="center">
                  <h4>{{__('Time')}}</h4>
                  <div id="newui-time" class="center control">
                    <orov-newui-time event-emitter="{{cockpitEventEmitter}}"></orov-newui-time>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div> <!--Placeholder for the UI plugin-->
