<link rel="import" href="components/polymer/polymer.html">

<link rel="import" href="components/new-ui/time.html">
<link rel="import" href="components/new-ui/time-slim.html">
<link rel="import" href="components/new-ui/compass.html">
<link rel="import" href="components/new-ui/depth.html">
<link rel="import" href="components/new-ui/throttle.html">
<link rel="import" href="components/new-ui/switches.html">
<link rel="import" href="components/new-ui/switches.html">
<link rel="import" href="components/new-ui/power.html">
<link rel="import" href="components/new-ui/power-slim.html">
<link rel="import" href="components/diagnostics/diagnostics.html">
<link rel="import" href="components/video/orov-video.html">
<link rel="import" href="components/navigation-data/orov-horizon.html">
<link rel="import" href="components/navigation-data/attitude-indicator.html">
<link rel="import" href="components/connection-health/orov-ping-graph.html">
<link rel="import" href="components/internet-stream/orov-twitch-stream-status.html">
<link rel="import" href="components/settings-manager/orov-settings-manager.html">
<link rel="import" href="components/iron-media-query/iron-media-query.html">

<!--script type='text/javascript' src="js/no-scroll-fullscreen-viewport.js"></script-->
<style>
    #time-item[short-layout] {
        display: none;
    }
    
    fieldset {
        display: block;
        margin-left: 1.0em;
        margin-right: 1.0em;
        border: 2px solid white;
    }
    
    legend {
        display: table;
        min-width: 0px;
        max-width: 70%;
        position: relative;
        margin-bottom: 0em;
        padding: .35em .35em;
        font-size: 1.1vw;
        color: white;
        text-align: center;
        border-bottom: 0px;
    }
</style>
<!--iron-media-query query="(max-height: 600px)" query-matches="{{short}}"></iron-media-query-->

<div id="UI" class="full-height">
    <div id="newuiBody" class="full-height">
        <div id="newuiContainer">
        </div>
        <div id="mainContent" class="full-height">

            <div id="newuiVideo" class="full-height">
                <orov-video id="camera1" border='1' style='width: 100%; height:100%; position:relative' location='forward' event-emitter="{{cockpitEventEmitter}}">
                    <div id='twitchembed' style='position:absolute; top:0px; left:0px; z-index:33;'></div>
                    <orov-twitch-stream-status style='position:absolute; top:0px; left:0px; z-index:33;' event-emitter="{{cockpitEventEmitter}}"></orov-twitch-stream-status>
                    <attitude-indicator id="horizon" style='position:absolute; top:0px; left:0px; z-index:33; width:100%; height:100%' event-emitter="{{cockpitEventEmitter}}"></attitude-indicator>
                    <div style='position:absolute; top:0px; left:0px; z-index:33; display:flex'>
                        <orov-newui-time-slim id="time-item-collapsed" style="margin:5px" event-emitter="{{cockpitEventEmitter}}"></orov-newui-time-slim>
                        <orov-newui-power-slim id="power-item-collapsed" style="margin:5px" event-emitter="{{cockpitEventEmitter}}"></orov-newui-power-slim>
                    </div>
                </orov-video>
            </div>
            <div id="newuiControlpad">
                <fieldset>
                    <legend>{{__('Heading')}}</legend>
                    <orov-newui-compass class="center" heading="0" event-emitter="{{cockpitEventEmitter}}"></orov-newui-compass>
                </fieldset>
                <fieldset style="padding-bottom: 2em">
                    <legend>{{__('Depth')}}</legend>
                    <orov-newui-depth id="newui-depth" style="margin-top: 2.0em;" class="center control" event-emitter="{{cockpitEventEmitter}}"></orov-newui-depth>
                </fieldset>
                <fieldset style="padding-bottom: 1.2em">
                    <legend>{{__('Throttle')}}</legend>
                    <orov-newui-throttle id="newui-throttle" class="center control" event-emitter="{{cockpitEventEmitter}}"></orov-newui-throttle>
                </fieldset>
                <fieldset>
                    <legend>{{__('Switches')}}</legend>
                    <orov-newui-switches class="center" event-emitter="{{cockpitEventEmitter}}"></orov-newui-switches>
                </fieldset>
                <fieldset id="power-item">
                    <legend>{{__('Battery')}}</legend>
                    <orov-newui-power id="power" event-emitter="{{cockpitEventEmitter}}"></orov-newui-power>
                </fieldset>
                <fieldset id="time-item">
                    <legend>{{__('Time')}}</legend>
                    <orov-newui-time event-emitter="{{cockpitEventEmitter}}"></orov-newui-time>
                </fieldset>

            </div>
        </div>

    </div>

</div>
<!--Placeholder for the UI plugin-->