<link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="plugin/new-ui/css/classicstyle.css">
<!--link href="components/jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" /-->
<link rel="stylesheet" href="plugin/new-ui/css/style.css">

<link rel="import" href="components/ui-manager/orov-appletswitcher.html">
<link rel="import" href="components/cloud-profile/orov-login.html">

<!--This example shows how to selectivly apply settings per applet that override the overall style sheet-->
<template is="dom-if" restamp=true if="{{!displaySection(routedata.page,'cockpit')}}">
<style>
body {
    position: relative;
    margin: 20px;
    background-color: white;
}
</style>

</template>


<div class="navbar navbar-inverse navbar-fixed-top navbar-collapse">
  <div id="newuiTopbar" class="container"><div class="navbar-header"><a class="navbar-brand" href="#"><img src="themes/OpenROV/img/openrov.png" class="logo"><span class="navbar-titel">{{__('Cockpit')}}</span></a></div>

    <div id="menu">
      <div id="menuitems" class="nav pull-right navbar-nav">
        <li><orov-login event-emitter="{{cockpitEventEmitter}}" /></li>
        <li><orov-appletswitcher event-emitter="{{cockpitEventEmitter}}" selection="{{routedata.page}}" horizontal-offset='-200'></orov-appletswitcher></li>
      </div>
    </div>
  </div>
</div>
