<link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="plugin/new-ui/css/classicstyle.css">
<!--link href="components/jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" /-->
<link rel="stylesheet" href="plugin/new-ui/css/style.css">

<link rel="import" href="components/ui-manager/orov-appletswitcher.html">
<link rel="import" href="components/cloud-profile/orov-login.html">
<link rel="import" href="components/peer-view/orov-mc-status-indicator.html">

<!--This example shows how to selectivly apply settings per applet that override the overall style sheet-->
<template is="dom-if" restamp=true if="{{!displaySection(routedata.page,'cockpit')}}">
<style>
body {
    position: relative;
    margin: 20px;
    background-color: white;
}
</style>

</template>
<style>
.online-indicator, .user-role {
  color: white;
  font-size: 2vh;
}
.brand {
  height:100%
}
</style>


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
      <a class="navbar-brand" href="#">
        <img alt="OpenROV" src="themes/OpenROV/img/openrov.png" class="brand">
      </a>
      <p class="navbar-text">{{__('Cockpit')}}</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navStatus">
      <p class="navbar-text online-indicator" hidden="{{rovOnline}}">{{__('ROV Offline')}}</p>
      <p class="navbar-text user-role">{{userRole}}</p>
      <orov-mc-status-indicator class="navbar-text" event-emitter="{{cockpitEventEmitter}}" ></orov-mc-status-indicator>

      <orov-appletswitcher class="navbar-btn pull-right" style="display:inline-block; height:30px" event-emitter="{{cockpitEventEmitter}}" selection="{{routedata.page}}" horizontal-offset='-200'></orov-appletswitcher>      
      <orov-login class="navbar-btn pull-right" event-emitter="{{cockpitEventEmitter}}" />
    </div>


  </div>
</div>
