<link rel="import" href="components/paper-button/paper-button.html">

</div>
  <paper-button raised onclick="window.cockpit.emit('plugin.imu.zeroRollPitch')">{{__('Zero Roll & Pitch')}}</paper-button>
  <paper-button raised onclick="window.cockpit.emit('plugin.imu.zeroYaw')">{{__('Zero Yaw')}}</paper-button>
</div>
