<link rel="stylesheet" href="plugin/mobile-ui/css/style.css">
<link rel="import" href="components/ui-manager/orov-appletswitcher.html">
<link rel="import" href="components/mobile-ui/settings-menu/settings-menu.html">

<div id="ui-top-holder" style="display: flex">
<div id="ui-top" class="rel-layer" style="z-index: 20">
  <orov-appletswitcher event-emitter="{{cockpitEventEmitter}}" selection="{{routedata.page}}"></orov-appletswitcher>
  <settings-menu event-emitter="{{cockpitEventEmitter}}"></settings-menu>
</div>
</div>
<!--This example shows how to selectivly apply settings per applet that override the overall style sheet-->
<template is="dom-if" restamp=true if="{{displaySection(routedata.page,'cockpit')}}">
<style>
#ui-top-holder{
  z-index: 40;
  position: relative;
  display: flex;
}
</style>
</template>

<!--This example shows how to selectivly apply settings per applet that override the overall style sheet-->
<template is="dom-if" restamp=true if="{{displaySection(routedata.page,'settings')}}">
<style>
body {
    overflow: scroll;
}
</style>

</template>
