<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<link rel="manifest" href="manifest.webmanifest">

		<script type='text/javascript' src="components/jquery/dist/jquery.js"></script>

		<title>Network</title>

		<!-- CSS -->
		<link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="plugin/mobile-ui/css/style.css">
	</head>

	<script type='text/javascript' src="js/libs/eventemitter2.js"></script>
	<script type='text/javascript' src="components/bootstrap/dist/js/bootstrap.js"></script>
	<script type='text/javascript' src="js/libs/mousetrap.min.js"></script>

	<script type='text/javascript' src='js/libs/gamepad.js'></script>
	<script type='text/javascript' src='js/utilities.js'></script>

	<script type='text/javascript' src="config.js"></script>
	<script type='text/javascript' src="socket.io/socket.io.js"></script>
	<script type='text/javascript' src="system-plugin/globalization/js/initGlobalization.js"></script>
	<script type='text/javascript' src='js/message-manager.js'></script>
	<script type='text/javascript' src='js/eventEmitterStoreAndForward.js'></script>
	<script type='text/javascript' src='js/socketIOStoreAndForward.js'></script>
	<script type='text/javascript' src="js/cockpit.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<script type="text/javascript" src="components/webcomponentsjs/webcomponents-lite.js"></script>

	<script>
		// Use native shadowdom
		window.Polymer = window.Polymer || {};
		window.Polymer.dom = 'shadow';
		window.openrovtheme = 'mobile-ui';

		// Prevent safari overscroll behaviour
		document.ontouchmove = function(event)
		{
			event.preventDefault();
		}

		// Prevent context menu
		window.oncontextmenu = function(event) {
			event.preventDefault();
			event.stopPropagation();
			return false;
		};
	</script>

	<link rel="import" href="components/polymer/polymer.html">

	<!-- Web components -->
	
	<link rel="import" href="components/video/orov-video.html">

	<link rel="import" href="components/mobile-ui/app-menu/app-menu.html">
	<link rel="import" href="components/mobile-ui/settings-menu/settings-menu.html">
	<link rel="import" href="components/mobile-ui/dual-thumbstick/dual-thumbstick.html">
	<link rel="import" href="components/mobile-ui/orov-window/orov-window.html">
	<link rel="import" href="components/mobile-ui/orov-mobile-compass/orov-mobile-compass.html">
	<link rel="import" href="components/mobile-ui/orov-mobile-depth/orov-mobile-depth.html">
	<link rel="import" href="components/mobile-ui/orov-mobile-battery/orov-mobile-battery.html">

	<% for( var i = 0; i < scripts.length; i++ )
	{
		%>  <script type="text/javascript" src="<%= scripts[i] %>"></script><%
	}
	%>

	<body>
		<template id="t" is="dom-bind" strip-whitespace>

			<!-- UI Layer -->
			<div id="layer-ui" class="layer fill" style="z-index: 40">

				<!--Top-->
				<div id="ui-top" class="rel-layer" style="" style="z-index: 20">
					<app-menu></app-menu>
					<settings-menu></settings-menu>
				</div>

				<!--Bottom-->
				<div id="ui-bot" class="rel-layer fill" style="z-index: 10">
					<div id="layer-widgets" class="layer" style="z-index: 0">
					</div>

					<div id="layer-win" class="layer fill" style="z-index: 10">
						<orov-window id="ui-win">
							yo
						</orov-window>
					</div>
				</div>

				<!--Absolute widget layer-->
				<div id="layer-ui-absolute" class="layer fill" style="z-index: 0">

					<div class="action-bar">
						<div class="action-bar-container">
							<div class="battery">
								<orov-mobile-battery event-emitter="{{cockpitEventEmitter}}"></orov-mobile-battery>
							</div>

							 <orov-mobile-compass class="center" heading="0" event-emitter="{{cockpitEventEmitter}}"></orov-mobile-compass>

							<div class="depth">
								<orov-mobile-depth event-emitter="{{cockpitEventEmitter}}"></orov-mobile-depth>
							</div>
						</div>
					</div>

				</div>
			</div>

		</template>
	</body>

</html>
