<link rel="import" href="components/thrusters2x1/orov-thrusters2x1-motortest.html">
<div class="settings-block">
  <h4>{{__('Pre-Flight Check')}}</h4>
</div>
<div>
  <orov-thrusters2x1-motortest event-emitter="{{cockpitEventEmitter}}"></orov-thrusters2x1-motortest>
</div>
