<link rel="import" href="components/peer-view/orov-mc-assignments.html">
<h4>Mission Control</h4>
This lists the viewers and handles allowcating permissions for those users.
This module is responsbile for accepting the control messages from those users once they have permissions.
<p>{{__("This feature is in BETA. Please report problems at https://github.com/openrov/openrov-software/issues")}}</p>

<orov-mc-assignments event-emitter="{{cockpitEventEmitter}}"></orov-mc-assignments>