<h4>Mission Control</h4>
This lists the viewers and handles allowcating permissions for those users.
This module is responsbile for accepting the control messages from those users once they have permissions.