<link rel="import" href="components/paper-button/paper-button.html">

</div>
  <paper-button raised onclick="window.cockpit.emit('plugin.diveProfile.zeroDepth')">Zero Depth</paper-button>
  <paper-button raised onclick="window.cockpit.emit('plugin.diveProfile.clearDepthOffset')">Clear Depth Offset</paper-button>
</div>
