
<link rel="import" href="components/paper-button/paper-button.html">
<link rel="import" href="components/diveprofile/json-schema-editor.html">
<div class="settings-block">

    <json-schema-editor 
      class="no-mousetrap"
      disable_collapse="true"
      form_name_root="{{__('Location')}}"
      theme="foundation5"
      iconlib="fontawesome4webcomponent"
    >{
            "$schema": "http://json-schema.org/draft-04/schema#",
            "type": "object",
            "id" : "location",
            "properties": {
                "description": {
                "type": "string"
                },
                "address": {
                "type": "object",
                "properties": {
                    "streetAddress": {
                    "type": "string"
                    },
                    "city": {
                    "type": "string"
                    }
                },
                "required": [
                    "streetAddress",
                    "city"
                ]
                },
                "gps-coordinates": {
                "type": "object",
                "properties": {
                    "lat": {
                    "type": "number"
                    },
                    "lon": {
                    "type": "number"
                    }
                },
                "required": [
                    "lat",
                    "lon"
                ]
                }
            },
            "required": [
                "description",
                "address",
                "gps-coordinates"
            ]
        }</json-schema-editor>
  <h4>{{__('Callibration')}}</h4>
 <!-- NOT ENABLED RIGHT NOW
  <a href="#" class="btn btn-default" id="callibrate_compass">{{__('Callibrate Compass')}}</a>-->
  <paper-button raised onclick="window.cockpit.emit('plugin.diveprofile.depth.zero')">{{__('Zero Depth')}}</paper-button>
</div>
