
<div class="settings-block">
  <h4>{{__('Callibration')}}</h4>
  NOT ENABLED RIGHT NOW
  <a href="#" class="btn btn-default" id="callibrate_compass">{{__('Callibrate Compass')}}</a>
  <a href="#" class="btn btn-default" id="zero_depth">{{__('Zero Depth')}}</a>
</div>
